* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

header div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 400px;
          flex: 5 1 400px;
  margin-left: 2rem;
}

header div.logo img {
  width: 6vw;
  height: 6vw;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul li a {
  color: #09777d;
  text-decoration: none;
  font-size: 1.35rem;
}

main section.backImage {
  min-height: 90vh;
  width: 100%;
  background-image: url("../res2/Pictures/pexels-photo-416676.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main section.backImage h3 {
  font-size: 3.5rem;
  color: white;
  margin: 2rem 1rem;
}

main section.backImage button.start {
  background-color: #3bf0e5;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  color: #141414;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

main section.backImage div.filter {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

main section.second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main section.second h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

main section.second section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 80vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.second section.cards div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main section.second section.cards div.card .img_container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

main section.second section.cards div.card .img_container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

main section.second section.cards div.card .img_container img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main section.second section.cards div.card h4 {
  margin: 1rem 0;
  font-size: 2rem;
}

main section.second section.cards div.card p {
  margin: 1rem 0;
  font-size: 1.25rem;
}

main section.second section.cards div.card a {
  margin: 1rem 0;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: #09777d;
  color: white;
  font-size: 1.25rem;
}

footer {
  background-color: #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.logo img {
  width: 6vw;
  height: 6vw;
}

footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer ul li {
  margin: 0 1rem;
}

footer ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
}

footer section.link img {
  margin: 0 1rem;
  width: 3vw;
  height: 3vw;
}

@media screen and (max-width: 700px) {
  main section.second section.cards div.card .img_container {
    width: 200px;
    height: 200px;
  }
  main section.second section.cards div.card .img_container img {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 550px) {
  header div.logo {
    margin-left: 0.5rem;
  }
  header div.logo img {
    width: 15vw;
    height: 15vw;
  }
  main section.second section.cards div.card .img_container {
    width: 200px;
    height: 200px;
  }
  main section.second section.cards div.card .img_container img {
    width: 200px;
    height: 200px;
  }
  footer div.logo img {
    width: 15vw;
    height: 15vw;
  }
  footer ul li {
    margin: 0 0.5rem;
  }
  footer section.link img {
    width: 10vw;
    height: 10vw;
  }
}
/*# sourceMappingURL=style.css.map */